.jumbotron{
	background-color: yellow;
	color: black;	
	margin-top: 50px
}
.btn{
	color: green;
}
.footer{
	background-color: yellow;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 10px 10px 0 10px;	
}
.card-hotel{
	flex: 1 150px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding: 10px;
}
.tab-content{
	padding-top: 10px;
}