@yellow: #fffFff;
@red: #FF3349;
@green : #33ff77;


.margenes(@top: 0px,@bottom: 0px){
margin-top :@top;
margin-bottom : @bottom;}

.jumbotron{
	background-color: @yellow;
	color: black;	
	.margenes(50px,0px);
}
.btn{
	color: @red;
	background-color: @green;
}
.footer{
	background-color: @yellow;
	padding: 10px 10px 0 10px;	
	.margenes(10px,0px);
}
.card-hotel{
	flex: 1 150px;
	.margenes(10px,0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding: 10px;
}
.tab-content{
	padding-top: 10px;
}