$yellow: #fff000;
$red: #CC0000;
$green : #66CC00;

@mixin margenes($top,$bottom){
margin-top :$top;
margin-bottom : $bottom;
}
.jumbotron{
	background-color: $yellow;
	color: black;	
	@include margenes(50px,0px);
}
.btn{
	color: $red;
	background-color: $green;
}
.footer{
	background-color: $yellow;
	padding: 10px 10px 0 10px;	
	@include margenes(10px,0px);
}
.card-hotel{
	flex: 1 150px;
	@include margenes(10px,0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding: 10px;
}
.tab-content{
	padding-top: 10px;
}