.jumbotron {
  background-color: #fffF33;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  color: #FF3349;
  background-color: #33ff77;
}
.footer {
  background-color: #fffF33;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding: 10px;
}
.tab-content {
  padding-top: 10px;
}
